:root {
  --links-hover-active: #4d5ae5;
  --actions: #404bbf;
  --main: #2e2f42;
  --success: #31d0aa;
  --text-body-address: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-body-address);
  background-color: var(--white-background);
  margin: 0;

}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  color: var(--main);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
}

.subtitle {
  color: var(--main);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.logo {
  color: var(--links-hover-active);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/** -----HEADER----- */

.header {
  margin: 0 auto;
  justify-content: space-between;
}

.header-logo {
  color: var(--main);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--actions);
}

.header-address-link {
  color: var(--text-body-address);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--actions);
}

.header .address {
  font-style: normal;
}

.header-menu-item {
  margin-right: 40px;
  margin-left: 76px;
}

.header-menu-item,
.header-address-item {
  margin-right: 40px;
}

.header .item:last-child {
  margin-right: 0;
}

/** -----HERO----- */

.hero-section {
  background-color: var(--main);
  flex-shrink: 0;
  margin: 0 auto;
}

.hero-title {
  margin: 0 auto 48px auto;
  color: var(--white-background);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  flex-shrink: 0;
}

.hero-btn {
  margin: 0 auto;
  background: var(--links-hover-active);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-background);
  font-family: "Roboto", sans-serif;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--actions);
}

/** -----ADVANTAGERS----- */

.section-advantagers-list {
  flex-shrink: 0;
}

.advantagers-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** -----SERVICE----- */


.section-service {
  background: var(--white-background);
  
}

.section-service-list {
  justify-content: space-between;
}

/** ------TEAM----- */

.section-team-item {
  background-color: var(--white-background);
}

.section-team {
  background-color: var(--light);
}

.section-team-list {
  justify-content: space-between
}

.team-title,
.team-text {
  justify-content: center;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ------FOOTER----- */

.footer {
  background-color: var(--main);
  flex-shrink: 0;
}

.footer-logo {
  color: var(--light);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  flex-shrink: 0;
  color: var(--light);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/** -----PORTFOLIO----- */

.product-btn-list {
  margin-bottom: 75px;
  margin-top: 93px;
  margin-left: 427px;
  margin-right: 427px;
}

.product-btn-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.product-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower, #E7E9FC);
  background: var(--light);
  justify-content: center;
  color: var(--links-hover-active);
  text-align: center;
}

.product-btn:hover,
.product-btn:focus {
  background-color: var(--actions);
  color: var(--white-background);
  cursor: pointer;
}

.header-address {
  font-style: normal;
}

.product-text {
  letter-spacing: 0.02em;
  color: var(--text-body-address);
}

.product-title {
  line-height: 1.5;
}